.page-container.text-center.animated
  .container.titles
    %h1
      = data.solutions.solutions.public_send(solution).display_name
    %h4
      = data.solutions.solutions.public_send(solution).description
    %h4
      = data.solutions.solutions.public_send(solution).body
    %h4
      = link_to "View features", "/solutions/#{solution.to_s.gsub(/_/, '-')}"
